*.~*
*.bak
*.tmp
*.sav
*.err
err.txt
err_*
tmp_*
sav_*
obj_*
my_*
bak
tmp
sav
*.t
*.o
obj
*.obj
*.db
*.pdb
*.ipdb
*.ilk
*.suo
*.tlog
*.log
.vs
*.sdf
*.opensdf
*.opendb
Debug
Release
x64
x86
Win32
*.user
build
cmake
sample/*.exe
#*
.vscode
